html {
  font-size: 62.5%;
}

body {
  background-color: rgba(21, 16, 25, 255);
  /*linear-gradient(177deg, #7876f2 50%, #7876f2 90%, white 50%, white 100%);*/
  background-size: cover;
  background-repeat: no-repeat;
}

/*starting of navbaar invite button and bot logo at top*/
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 1.8rem;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  font-family: Nunito, sans-serif;
  font-size: 1.7rem;
  display: block;
  color: rgba(78, 116, 198, 0.5);
  text-align: center;
  padding: 1.6rem;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.container {
  display: flex;
  padding-left: 6rem;
}

img.con {
  border-radius: 50%;
  margin-top: 2.2rem ;
  width: 4rem;
  height: 4rem;
}

.cont {
  display: block;
  border-left: .5rem solid rgba(255, 179, 0, 1);
}

  .h1 {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight:200;
    padding-left: 1rem;
    padding-top: 3.5rem;
    color:white;
    font-family:Nunito,sans-serif;
    animation: example; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

@keyframes example {
  0% {
    color: red;
  }

  50% {
    color: yellow;
  }

  75% {
    color: rgb(0, 255, 0);
  }

  100% {
    color: red;
  }
}

.ani {
  animation: none;
  font-family: Nunito, sans-serif;
  font-size: 3rem;
  margin-left: 22rem;
  margin-top: 7rem;
    color: white;
}

.ani2 {
  color: rgb(165, 165, 165);
  font-family: Nunito, sans-serif;
  font-size: 1.7rem;
  margin-left: 21.5rem;
}

.UniversalBox {
  font-family: Nunito, sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 180px;
  margin-right: 880px;
  color: #FFFFFF;
  border-radius: 10px;
}

.Box1 {
  border: 0.5px solid #3ef9ff;
  margin-top: 10px;
  border-radius: 3px;
  background-color: rgba(21, 16, 25, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: ; */
  /* padding-right: ; */
}

.Box2 {
  border: 0.5px solid #3ef9ff;
  margin-top: 10px;
  border-radius: 3px;
  background-color: rgba(21, 16, 25, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: ; */
  /* padding-right: ; */
}

.Box3 {
  border: 0.5px solid #3ef9ff;
  margin-top: 10px;
  border-radius: 3px;
  background-color: rgba(21, 16, 25, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: ; */
  /* padding-right: ; */
}

.Box4 {
  border: 0.5px solid #3ef9ff;
  margin-top: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: rgba(21, 16, 25, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: ; */
  /* padding-right: ; */
}

.Box1:hover {
  background: #EDCDB7;
  color: black;
  transition: .3s;
}

.Box2:hover {
  background: #EDCDB7;
  color: black;
  transition: .3s;
}

.Box3:hover {
  background: #EDCDB7;
  color: black;
  transition: .3s;
}

.Box4:hover {
  background: #EDCDB7;
  color: black;
  transition: .3s;
}

.commands {
  padding-left: 2rem;
}

.desc {
  padding-left: 8rem;
}

.use {
  padding-left: 20rem;
}

.universl_text {
  border-radius: .5rem;
  margin-right: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgb(8, 63, 116);
  margin-top: -20rem;
  margin-left: 50rem;
  font-family: Nunito, sans-serif;
  color: rgb(240, 240, 240);
  display: flex;
  font-size: 1.7rem;
}
hr {
  opacity: .5;
}

.commands_page {
  position: absolute;
  background: rgb(4, 34, 63);
  margin-right: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 50rem;
  font-family: Nunito, sans-serif;
  color: rgba(240, 240, 240, );
  display: flex;
  font-size: 1.7rem;
}

.all {
  text-decoration: none;
  color: #FFFFFF;
}
.moderation  {
  text-decoration: none;
  color: #FFFFFF;
}
.info  {
  text-decoration: none;
  color: #FFFFFF;
}
.fun  {
  text-decoration: none;
  color: #FFFFFF;
}
.move  {
  margin-left: 45rem;
}
table  {
padding-top: 1rem;
}
.whole  {
background: linear-gradient(180deg , rgb(28, 118, 202) 1.5% 1.5%, rgb(10, 48, 83) 1.5% 5%);
color: white;
font-family: Nunito, sans-serif;
font-size: 2rem;
margin-top: -25rem;
margin-left: 50rem;
padding-left: 3rem;
margin-right: 7rem;
border-radius: .5rem;
margin-bottom: 15rem;
}
th  {
padding-right: 15rem;
padding-bottom: 3rem;
}
td  {
opacity: .7;
padding-bottom: 3rem;
padding-right: 7rem;
}

#first  {
opacity: 1;
color: aqua;
}
#first::before  {
content: "";
position: absolute;
height: 3rem;
border-left: .2rem solid white;
margin-left: -3.3rem;
opacity: .7;
}
footer  {
background-color: rgba(7,14, 24);
margin-bottom: -1rem;
padding-bottom: 5rem;
margin-left: -1rem;
margin-right: -.5rem;
}
.information  {
font-size: 1.8rem;
padding-top: 3rem;
color: aliceblue;
padding-left: 2rem;
font-family:Nunito,sans-serif;
text-decoration: none;
}
.information:hover  {
color: aqua;
}
.information2  {
display: flex;
margin-left: 54.5rem;
}
.information3  {
font-size: 1.8rem;
margin-top: 1rem;
margin-left: 57.5rem;
font-family:Nunito,sans-serif;
text-decoration: none;
color: #ffffff;
}
.information3:hover  {
color: aqua;
}
.open  {
border-radius: 50%;
height: 8rem;
width: 8rem;
margin-top: 8rem;
margin-left: 59.7rem;
box-shadow: 0rem 0rem 10rem rgba(0, 225, 255, 0.3);
}
.copyright  {
color: #8a8a8a;
font-family:Nunito,sans-serif;
margin-left: 57.5rem;
}
.move  {
margin-left: 45rem;
}
.GFG  {
box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 2.5rem;
background-color: rgba(0,0,0,0);
border: .2rem solid white;
color: white;
padding: .5rem 1.5rem;
text-align: center;
display: block;
float: right;
font-size: 2rem;
margin-top: 1.8rem;
margin-right: 2rem;
margin: 1.5rem;
cursor: pointer;
}

.GFG:hover  {
color:black;
background-image: linear-gradient(to right, magenta , blue);
transition-duration: 0.4s;
}
